/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0c0c0c;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(0,0,0,0.9);
}

.navbar .logo {
  font-family: 'Georgia', serif;
  font-size: 22px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #1d9bd6;
}

.navbar .icons span {
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Classic Bottle Section */
.classic-bottle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 250px;
  gap: 50px;
}

.bottle-image img {
  height: 500px;
  transition: transform 0.3s ease;
}

.bottle-image img:hover {
  transform: scale(1.05);
}

.bottle-details {
  max-width: 500px;
}

.bottle-details h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.bottle-details h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #3199e8;
  margin-bottom: 25px;
}

.usp {
  list-style: none;
  margin-bottom: 30px;
}

.usp li {
  font-size: 18px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(16, 157, 222);
  color: black;
}

/* Responsive */
@media (max-width: 900px) {
  .classic-bottle {
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
  }

  .bottle-image img {
    height: 350px;
  }
}
