/* Only for 1L bottles with id 1 and 3 */
#bottle-1 .default-img,
#bottle-3 .default-img {
  transition: opacity 0.3s ease;
}

#bottle-1 .f.png,
#bottle-3 .f.png {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

#bottle-1:hover .default-img,
#bottle-3:hover .default-img {
  opacity: 0;
}

#bottle-1:hover .hover-img,
#bottle-3:hover .hover-img {
  opacity: 1;
}
